Agente CNE Optimizado.json
{
  "name": "Agente CNE Optimizado",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "64bb59fc-e0d5-4165-96ca-f59d1832648f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        992,
        1024
      ],
      "id": "e063b2f6-c8a8-4a54-a74d-e072db3ff73f",
      "name": "Webhook",
      "webhookId": "64bb59fc-e0d5-4165-96ca-f59d1832648f"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\":$json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2112,
        1024
      ],
      "id": "7aa59fe3-6e28-4086-b906-2c3ef14485d8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1408,
        1488
      ],
      "id": "48d441b1-97f4-4790-b1bc-485df4b20bbf",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dckeEFexdQHviwes",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').item.json.body;\n\n// Para memoria persistente, el frontend DEBE enviar un sessionId constante\n// Si no viene, usamos userId, o generamos uno temporal (se perderá la memoria al refrescar)\nconst sessionId = body.sessionId || body.userId || ('anon_' + Date.now().toString());\n\nreturn {\n  json: {\n    sessionId: sessionId,\n    message: body.message,\n    queryContext: {\n       timestamp: new Date().toISOString(),\n       source: 'frontend-bot'\n    }\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        1024
      ],
      "id": "515251d0-1f9f-4a2d-ba41-17d7a79dc859",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1440,
        1024
      ],
      "id": "0dcab879-f85c-4e26-8bbc-300d8cb7e9e0",
      "name": "Wait",
      "webhookId": "7cf8a903-46d1-4d6c-a456-07f1fa862035"
    },
    {
      "parameters": {
        "content": "## Entrada de datos por peticion https\n\nSe ejecuta un codigo js que define un id de sesion para persistencia de datos y un nodo de espera o delay para a;adir un retraso fijo de 1 segundo para evitar el consumo de los tokens del agente de manera inmediata",
        "height": 320,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        848
      ],
      "typeVersion": 1,
      "id": "c05274e9-9abb-4f06-9b98-1af481b00d32",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## ⚠️ IMPORTANTE: MEMORIA\nActualmente usas 'Simple Memory' que olvida todo al terminar la respuesta.\n\nPara que el bot RECUERDE conversaciones pasadas:\n1. Reemplaza el nodo 'Simple Memory' con un nodo **'Postgres Chat Memory'**.\n2. Conéctalo a tu base de datos Postgres.\n3. Crea una tabla en tu DB llamada 'chat_history' con columnas (id, session_id, message).\n4. Configura el nodo para usar {{ $json.sessionId }} como Session ID.",
        "height": 256,
        "width": 544,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        1440
      ],
      "typeVersion": 1,
      "id": "004ee206-1c86-49be-ade1-ded3baf45415",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "actaueh",
          "mode": "list",
          "cachedResultName": "actaueh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tienehijos": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tienehijos', ``, 'boolean') }}",
            "tieneapoderado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tieneapoderado', ``, 'boolean') }}",
            "tienedocpublico": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tienedocpublico', ``, 'boolean') }}",
            "tienedecijudi": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tienedecijudi', ``, 'boolean') }}",
            "inutilizada": false,
            "codestado": "=1",
            "codof": "=10",
            "nacta": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nacta', ``, 'number') }}",
            "ano": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ano', ``, 'number') }}",
            "tomo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tomo', ``, 'number') }}",
            "cedular": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cedular', ``, 'number') }}",
            "idactaueh": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('idactaueh', ``, 'number') }}",
            "tipolibro": "U",
            "fechaacta": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fechaacta', ``, 'string') }}",
            "tipoacta": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipoacta', ``, 'string') }}",
            "transcriptor": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('transcriptor', ``, 'number') }}",
            "nresolucion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nresolucion', ``, 'string') }}",
            "horamodificacion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('horamodificacion', ``, 'string') }}",
            "antigua": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "idactaueh",
              "displayName": "idactaueh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "codestado",
              "displayName": "codestado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "codof",
              "displayName": "codof",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nacta",
              "displayName": "nacta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "ano",
              "displayName": "ano",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipolibro",
              "displayName": "tipolibro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tomo",
              "displayName": "tomo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "fechaacta",
              "displayName": "fechaacta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipoacta",
              "displayName": "tipoacta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tienehijos",
              "displayName": "tienehijos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "tieneapoderado",
              "displayName": "tieneapoderado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "tienedocpublico",
              "displayName": "tienedocpublico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "tienedecijudi",
              "displayName": "tienedecijudi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "transcriptor",
              "displayName": "transcriptor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "cedular",
              "displayName": "cedular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nresolucion",
              "displayName": "nresolucion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "inutilizada",
              "displayName": "inutilizada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "horamodificacion",
              "displayName": "horamodificacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "antigua",
              "displayName": "antigua",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        992,
        256
      ],
      "id": "f89acc5e-8f9e-4e31-996d-a52394559467",
      "name": "Insertar acta",
      "credentials": {
        "postgres": {
          "id": "MR2gTxlqmMjJ1LqP",
          "name": "Cne"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "actaueh",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tienehijos": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tienehijos', ``, 'boolean') }}",
            "tieneapoderado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tieneapoderado', ``, 'boolean') }}",
            "tienedocpublico": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tienedocpublico', ``, 'boolean') }}",
            "tienedecijudi": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tienedecijudi', ``, 'boolean') }}",
            "antigua": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('antigua', ``, 'boolean') }}",
            "idactaueh": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('idactaueh__using_to_match_', ``, 'number') }}",
            "nacta": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nacta', ``, 'number') }}",
            "ano": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ano', ``, 'number') }}",
            "tomo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tomo', ``, 'number') }}",
            "transcriptor": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('transcriptor', ``, 'number') }}",
            "cedular": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cedular', ``, 'number') }}",
            "codestado": 1,
            "codof": 10,
            "fechaacta": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fechaacta', ``, 'string') }}",
            "tipoacta": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipoacta', ``, 'string') }}",
            "tipolibro": "U",
            "nresolucion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nresolucion', ``, 'string') }}",
            "horamodificacion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('horamodificacion', ``, 'string') }}",
            "inutilizada": false
          },
          "matchingColumns": [
            "idactaueh"
          ],
          "schema": [
            {
              "id": "idactaueh",
              "displayName": "idactaueh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "codestado",
              "displayName": "codestado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "codof",
              "displayName": "codof",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "nacta",
              "displayName": "nacta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "ano",
              "displayName": "ano",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "tipolibro",
              "displayName": "tipolibro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tomo",
              "displayName": "tomo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "fechaacta",
              "displayName": "fechaacta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "tipoacta",
              "displayName": "tipoacta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tienehijos",
              "displayName": "tienehijos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "tieneapoderado",
              "displayName": "tieneapoderado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "tienedocpublico",
              "displayName": "tienedocpublico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "tienedecijudi",
              "displayName": "tienedecijudi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "transcriptor",
              "displayName": "transcriptor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "cedular",
              "displayName": "cedular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "nresolucion",
              "displayName": "nresolucion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "inutilizada",
              "displayName": "inutilizada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "horamodificacion",
              "displayName": "horamodificacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "antigua",
              "displayName": "antigua",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1120,
        256
      ],
      "id": "446d8b2c-fefc-4b99-a14c-626cb9b16d0e",
      "name": "Actualizar acta",
      "credentials": {
        "postgres": {
          "id": "MR2gTxlqmMjJ1LqP",
          "name": "Cne"
        }
      }
    },
    {
      "parameters": {
        "path": "23b7a77a-fc08-423e-9749-c14424f3b676"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 2,
      "position": [
        848,
        48
      ],
      "id": "02a48192-ba8a-4ad0-a403-90163bdd2244",
      "name": "Acta UEH",
      "webhookId": "23b7a77a-fc08-423e-9749-c14424f3b676"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "actaueh",
          "mode": "list",
          "cachedResultName": "actaueh"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        864,
        256
      ],
      "id": "c8fcad42-68de-4334-99a0-02eb03d650a5",
      "name": "Listar acta",
      "credentials": {
        "postgres": {
          "id": "MR2gTxlqmMjJ1LqP",
          "name": "Cne"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql_statement') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1552,
        272
      ],
      "id": "534fa932-926d-48d3-9efe-6619465b5b9d",
      "name": "Execute a SQL query in Postgres",
      "credentials": {
        "postgres": {
          "id": "MR2gTxlqmMjJ1LqP",
          "name": "Cne"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT table_name, column_name, data_type\nFROM information_schema.columns\nWHERE table_schema = 'public';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1392,
        272
      ],
      "id": "c3415e8e-e4b4-4e23-ad7b-54fdfde709c3",
      "name": "Informacion shema",
      "credentials": {
        "postgres": {
          "id": "MR2gTxlqmMjJ1LqP",
          "name": "Cne"
        }
      }
    },
    {
      "parameters": {
        "content": "## Acciones para acta ueh\n\nproceso de insertado actualizacion y listado de actas",
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        240
      ],
      "typeVersion": 1,
      "id": "dd70f388-b6a8-4bac-b49b-fd68aee3bc5d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "",
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        448
      ],
      "typeVersion": 1,
      "id": "d66f381b-b8c9-40ae-821b-a52438285533",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "unidosueh",
          "mode": "list",
          "cachedResultName": "unidosueh"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        864,
        464
      ],
      "id": "f33cbc35-151a-4003-82d8-bffad3c5fc27",
      "name": "Listar unidos",
      "credentials": {
        "postgres": {
          "id": "MR2gTxlqmMjJ1LqP",
          "name": "Cne"
        }
      }
    },
    {
      "parameters": {
        "content": "## Acciones para Unidos ueh\n\nproceso de insertado actualizacion y listado de actas",
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        448
      ],
      "typeVersion": 1,
      "id": "20cff486-50f8-4c46-8408-4f108a259ebe",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "unidosueh",
          "mode": "list",
          "cachedResultName": "unidosueh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipo', `H si es masculino M si es femenino`, 'string') }}",
            "nombre1": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre1', ``, 'string') }}",
            "nombre2": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre2', ``, 'string') }}",
            "apellido1": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('apellido1', ``, 'string') }}",
            "apellido2": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('apellido2', ``, 'string') }}",
            "fechanac": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fechanac', `fecha de hoy que se está haciendo el acta`, 'string') }}",
            "numdocumento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('numdocumento', ``, 'string') }}",
            "tipodoc": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipodoc', ``, 'string') }}",
            "paisnac": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('paisnac', ``, 'string') }}",
            "estadonac": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('estadonac', ``, 'string') }}",
            "municipionac": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('municipionac', ``, 'string') }}",
            "parroquianac": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parroquianac', ``, 'string') }}",
            "nacionalidad": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nacionalidad', ``, 'string') }}",
            "edocivil": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('edocivil', ``, 'string') }}",
            "profesion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('profesion', ``, 'string') }}",
            "direccion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('direccion', ``, 'string') }}",
            "idunidos": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('idunidos', ``, 'number') }}",
            "idactaueh": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('idactaueh', `id del acta ueh original es la forany key `, 'number') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre1",
              "displayName": "nombre1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre2",
              "displayName": "nombre2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "apellido1",
              "displayName": "apellido1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "apellido2",
              "displayName": "apellido2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fechanac",
              "displayName": "fechanac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "numdocumento",
              "displayName": "numdocumento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipodoc",
              "displayName": "tipodoc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paisnac",
              "displayName": "paisnac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estadonac",
              "displayName": "estadonac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "municipionac",
              "displayName": "municipionac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "parroquianac",
              "displayName": "parroquianac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nacionalidad",
              "displayName": "nacionalidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "edocivil",
              "displayName": "edocivil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "profesion",
              "displayName": "profesion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "direccion",
              "displayName": "direccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "idunidos",
              "displayName": "idunidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "idactaueh",
              "displayName": "idactaueh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        992,
        464
      ],
      "id": "0de0d1ec-4db7-47fd-b2eb-3fab009bb87b",
      "name": "Insertar unidos",
      "credentials": {
        "postgres": {
          "id": "MR2gTxlqmMjJ1LqP",
          "name": "Cne"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "unidosueh",
          "mode": "list",
          "cachedResultName": "unidosueh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "idunidos": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('idunidos__using_to_match_', ``, 'number') }}",
            "idactaueh": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('idactaueh', ``, 'number') }}",
            "tipo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipo', `H si es hombre M si es mujer`, 'string') }}",
            "nombre1": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre1', ``, 'string') }}",
            "nombre2": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre2', ``, 'string') }}",
            "apellido1": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('apellido1', ``, 'string') }}",
            "apellido2": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('apellido2', ``, 'string') }}",
            "fechanac": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fechanac', `fecha del acta de nacimiento`, 'string') }}",
            "numdocumento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('numdocumento', `cedula de identidad`, 'string') }}",
            "tipodoc": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipodoc', ``, 'string') }}",
            "paisnac": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('paisnac', ``, 'string') }}",
            "estadonac": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('estadonac', ``, 'string') }}",
            "municipionac": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('municipionac', ``, 'string') }}",
            "parroquianac": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parroquianac', ``, 'string') }}",
            "nacionalidad": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nacionalidad', ``, 'string') }}",
            "edocivil": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('edocivil', ``, 'string') }}",
            "profesion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('profesion', ``, 'string') }}",
            "direccion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('direccion', ``, 'string') }}"
          },
          "matchingColumns": [
            "idunidos"
          ],
          "schema": [
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "nombre1",
              "displayName": "nombre1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "nombre2",
              "displayName": "nombre2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "apellido1",
              "displayName": "apellido1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "apellido2",
              "displayName": "apellido2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fechanac",
              "displayName": "fechanac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "numdocumento",
              "displayName": "numdocumento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tipodoc",
              "displayName": "tipodoc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "paisnac",
              "displayName": "paisnac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "estadonac",
              "displayName": "estadonac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "municipionac",
              "displayName": "municipionac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "parroquianac",
              "displayName": "parroquianac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "nacionalidad",
              "displayName": "nacionalidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "edocivil",
              "displayName": "edocivil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "profesion",
              "displayName": "profesion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "direccion",
              "displayName": "direccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "idunidos",
              "displayName": "idunidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idactaueh",
              "displayName": "idactaueh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1120,
        464
      ],
      "id": "1a477847-1033-48fb-9c5a-89528f79eaa8",
      "name": "Actualizar unidos",
      "credentials": {
        "postgres": {
          "id": "MR2gTxlqmMjJ1LqP",
          "name": "Cne"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        240
      ],
      "typeVersion": 1,
      "id": "9ce48b0e-2bb4-4741-9778-d52cc9514996",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Interaccion con base de datos \n\nse le pasa los datos del esquema de la base de datos para que tenga conocimiento general de las tablas y tambien un metodo de general consultas sql",
        "height": 192,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1712,
        240
      ],
      "typeVersion": 1,
      "id": "6901d0a2-dc01-4248-a67f-2e4eb23c17ee",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "",
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        240
      ],
      "typeVersion": 1,
      "id": "fb064283-32fd-4e18-8700-bae978b1858c",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "tableName": "chat_history",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1968,
        1456
      ],
      "id": "b31ae5c4-7e19-43e7-b9e9-5880c972e4f6",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "n2RB9Tr7yrG1S0h6",
          "name": "Postgres Historial de chats"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Usa esta herramienta para agendar una cita cuando tengas fecha, hora, nombre y email del usuario.",
        "method": "POST",
        "url": "http://localhost:8000/api/appointments/book",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fecha\": \"{{$json.fecha}}\",\n  \"hora\": \"{{$json.hora}}\",\n  \"nombre\": \"{{$json.nombre}}\",\n  \"email\": \"{{$json.email}}\",\n  \"tipo_tramite\": \"UEH\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2272,
        1456
      ],
      "id": "37cfe34b-9351-4825-b7a2-1a85fedc9100",
      "name": "reservar_cita"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=BANNER DE SISTEMA / ROL:\nEres el Asistente Virtual Oficial del Registro Civil (Bot CNE).\nTu misión es gestionar trámites de Actas (Nacimiento, Unión Estable de Hecho, Matrimonio) con máxima precisión y profesionalismo.\n\nGESTIÓN DE CITAS:\nSi el usuario quiere una cita, pregúntale: Nombre completo, Email, Fecha deseada y Hora.\nUna vez tengas los datos, USA la herramienta 'reservar_cita'.\nNO confirmes la cita hasta que la herramienta responda \"éxito\".\nSi la herramienta devuelve error (ej. cupo lleno), díselo al usuario y pide otra hora.\nHorario de atención: Lunes a Viernes, 8:00 AM a 4:00 PM.\n\n\nINSTRUCCIONES DE COMPORTAMIENTO:\n1. **Identidad**: Eres un funcionario digital. Sé amable, directo e institucional.\n2. **Veracidad**: NUNCA inventes folios, tomos o fechas. Si no está en la base de datos, di \"No existe\". Usa tus herramientas DB para validar todo.\n3. **Memoria**: Recuerda el contexto de la conversación. Si el usuario te corrige un dato, actualiza tu búsqueda y reintenta inmediatamente.\n\n\nPROTOCOLOS DE ACCIÓN:\n\nA. **REGISTRO DE ACTA:**\n   1. Antes de registrar, **BUSCA** en `acta` o `unidos` si las personas ya tienen un acta vigente para evitar duplicados.\n   2. Si no tienen registro previo y confirman su deseo de registrarse, **NO** pidas los datos uno por uno en el chat.\n   3. **ACCIÓN REQUERIDA**: Responde exactamente con el lanzador del formulario:\n      `[FORMULARIO: REGISTRO_UEH]`\n      *(Acompaña esto con una frase amable redirigiendo al usuario al formulario)*.\n   4. Cuando uses la herramienta ejecuta_sql, siempre envía el parámetro query como string. Nunca llames la herramienta sin parámetros.\n\nB. **INSERCIÓN OFICIAL:**\n   - Tienes capacidad técnica (Tools) para insertar directamente en `acta` y `unidos`. Úsala si:\n     a) Es un trámite de funcionario.\n     b) Necesitas corregir un dato específico.\n     c) El usuario insiste en dar los datos por chat en lugar del formulario.\n   - **Regla de integridad**: Al insertar un acta nueva en `acta`, verifica que los IDs de las personas existan en `unidos` primero (o créalos).\n\nC. **VALIDACIÓN Y CONSULTA:**\n   - Si buscan un acta antigua: Consulta `acta`.\n   - Si buscan un registro reciente hecho hace momentos: Consulta `solicitudes_ueh_web`.\n\nD. **GESTIÓN DE CITAS Y CALENDARIO:**\n   - El sistema gestiona citas automáticamente con un **límite de 50 por día**.\n   - Si el usuario solicita agendar una cita, **NO** pidas los datos uno por uno ni pidas confirmación por chat.\n   - Si el usuario solicita cita, infórmale que el sistema validará disponibilidad en Google Calendar.\n   - **ACCIÓN REQUERIDA**: Responde exactamente con el lanzador del formulario:\n\n`[FORMULARIO: AGENDAR_CITA]` \n*(Acompaña esto con una frase amable como: \\\"Claro, para agendar tu cita por favor completa el siguiente formulario\n\nE. **CONTEXTO DE TRÁMITES:**\n   - **UEH**: Requiere mas de 2 años de convivencia, testigos y no estar casados.\n   - **Nacimiento**: Presentación hasta 90 días es ordinaria, luego extemporánea.\n   - **Defunción**: Requiere certificado médico y cédula.\n\nF. **ANÁLISIS Y GRÁFICOS**\n   - Cuando el usuario pida estadísticas o gráficos, responde texto normal e incluye al final el marcador [VER_GRAFICOS]. No llames herramientas con ese nombre.\n\nMANEJO DE ERRORES:\n   - Si una búsqueda devuelve 0 resultados: \"No encontré registros en la tabla [NOMBRE_TABLA] con esos datos\". Ofrece buscar en otra tabla si tiene sentido.\n\nCONTEXTO TÉCNICO:\nSesión ID: {{ $json.sessionId }}\nMensaje actual: {{ $('Webhook').item.json.body.message }}\n",
        "options": {
          "systemMessage": "Eres el Bot CNE. Prioriza el uso del [FORMULARIO] para registros nuevos, pero usa tus tools de SQL para consultas oficiales.\n\nEres un analista experto del Registro Civil. Tienes permiso para LEER la base de datos PostgreSQL usando la herramienta 'Execute Query'.\n\nTABLAS DISPONIBLES:\n\ncitas: (Columnas: id, fecha, hora, solicitante_email, solicitante_nombre, tipo_tramite, confirmada). \nÚsala para estadísticas de agendamiento.\n\nactas: (Columnas: idactaueh, numero_acta, folio, fecha_acta, fecha_manifestacion, estado, municipio, parroquia, registrador_id). Úsala para buscar registros actas.\n\nchat_history: (Columnas: id, session_id, message, sender). Úsala si el usuario pregunta por conversaciones pasadas.\nREGLAS:\n\nSi el usuario pide un gráfico o análisis, genera un query SQL que agrupe los datos (ej: GROUP BY fecha).\nSi el usuario busca a alguien, usa ILIKE '%nombre%' para que la búsqueda sea flexible.\nResponde siempre de forma profesional y basada únicamente en los datos obtenidos."
        }
      },
      "id": "47dc0015-0375-48c4-b177-c1d83a178531",
      "name": "AI Agent Optimizado",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1680,
        1024
      ]
    },
    {
      "parameters": {
        "content": "## Interaccion con base de datos \n\nse le pasa los datos del esquema de la base de datos para que tenga conocimiento general de las tablas y tambien un metodo de general consultas sql",
        "height": 192,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2976,
        1168
      ],
      "typeVersion": 1,
      "id": "3a9caec0-621f-4f4c-965f-ed52bc2a3e3c",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT table_name, column_name, data_type\nFROM information_schema.columns\nWHERE table_schema = 'public';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        2544,
        1328
      ],
      "id": "8305a018-60d3-4e23-9ea9-0d8f31081269",
      "name": "Informacion shema1",
      "credentials": {
        "postgres": {
          "id": "n2RB9Tr7yrG1S0h6",
          "name": "Postgres Historial de chats"
        }
      }
    },
    {
      "parameters": {
        "path": "23b7a77a-fc08-423e-9749-c14424f3b676"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 2,
      "position": [
        2512,
        1088
      ],
      "id": "16cd70f5-264f-404e-b1df-db59056b3388",
      "name": "DB",
      "webhookId": "23b7a77a-fc08-423e-9749-c14424f3b676"
    },
    {
      "parameters": {
        "endpointUrl": "http://localhost:5678/mcp/23b7a77a-fc08-423e-9749-c14424f3b676",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        2112,
        1456
      ],
      "id": "100bc00c-2629-4810-8da9-a5762bf75f5f",
      "name": "DB1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Esta herramienta sirve para consultar la base de datos de Registro Civil. Recibe un query SQL de lectura para obtener datos de citas, actas, trámites y estadísticas. Usa las tablas: citas, actas, chat_history, registradores, solicitudes_ueh_web, testigos, unidos.\n\nDebes llamar esta herramienta con JSON: { \"query\": \"SELECT ...;\" }",
        "operation": "executeQuery",
        "query": "{{ $fromAI(\"query\", \"Consulta SQL SELECT válida para PostgreSQL\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        2736,
        1328
      ],
      "id": "22bda32a-0103-466c-b1c8-ffcb97f62115",
      "name": "ejecuta sql",
      "credentials": {
        "postgres": {
          "id": "n2RB9Tr7yrG1S0h6",
          "name": "Postgres Historial de chats"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://localhost:5678/mcp/23b7a77a-fc08-423e-9749-c14424f3b676",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        2000,
        1728
      ],
      "id": "9b458fc4-25ce-4d1f-9133-8f1490ff0529",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1568,
        1488
      ],
      "id": "1f555f15-1be3-4535-97b8-3b0cc3ac0849",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "X7OU4rEEKNmqtrAX",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "rule": [
            {
              "modelIndex": 2,
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f6c8815d-f07c-49d5-8c9b-1adc4a8b7b09",
                    "leftValue": "={{ $('Webhook').item.json.body.message.toLowerCase() }}",
                    "rightValue": "cita ",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "5b24d768-86d9-4364-8939-2d0de81b3f16",
                    "leftValue": "={{ $('Webhook').item.json.body.message.toLowerCase() }}",
                    "rightValue": "buscar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "adedc337-1e50-4c3d-8857-a7c83b1700e6",
                    "leftValue": "={{ $('Webhook').item.json.body.message.toLowerCase() }}",
                    "rightValue": "gráfico",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "3cb3c827-b4a2-46de-beb7-04fa4dc32167",
                    "leftValue": "={{ $('Webhook').item.json.body.message.toLowerCase() }}",
                    "rightValue": "acta",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7d4ebbfe-9bf0-4210-94f5-3de68a6d66d6",
                    "leftValue": "={{ $('Webhook').item.json.body.message.toLowerCase() }}",
                    "rightValue": "ley",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "add06d97-1b3a-48c5-8bb5-89b79788ba99",
                    "leftValue": "={{ $('Webhook').item.json.body.message.toLowerCase() }}",
                    "rightValue": "requisitos",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "7be07206-3519-4d48-b015-0f652deef0fa",
                    "leftValue": "={{ $('Webhook').item.json.body.message.toLowerCase() }}",
                    "rightValue": "documento",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "modelIndex": 2,
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1bb75cff-c7bb-49cf-bc12-fd83da58ee18",
                    "leftValue": "={{ true }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.modelSelector",
      "typeVersion": 1,
      "position": [
        1456,
        1312
      ],
      "id": "01ba7d12-2ffd-4fa4-ab7e-d58c33d6fbcd",
      "name": "Model Selector"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "connection": "keep-alive",
            "user-agent": "python-httpx/0.28.1",
            "content-length": "64",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "Muéstrame los gráficos de citas",
            "sessionId": null
          },
          "webhookUrl": "http://localhost:5678/webhook/64bb59fc-e0d5-4165-96ca-f59d1832648f",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent Optimizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar acta": {
      "ai_tool": [
        [
          {
            "node": "Acta UEH",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar acta": {
      "ai_tool": [
        [
          {
            "node": "Acta UEH",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Listar acta": {
      "ai_tool": [
        [
          {
            "node": "Acta UEH",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query in Postgres": {
      "ai_tool": [
        [
          {
            "node": "Acta UEH",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Informacion shema": {
      "ai_tool": [
        [
          {
            "node": "Acta UEH",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Listar unidos": {
      "ai_tool": [
        [
          {
            "node": "Acta UEH",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Insertar unidos": {
      "ai_tool": [
        [
          {
            "node": "Acta UEH",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar unidos": {
      "ai_tool": [
        [
          {
            "node": "Acta UEH",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Optimizado",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "reservar_cita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Optimizado",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Optimizado": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informacion shema1": {
      "ai_tool": [
        [
          {
            "node": "DB",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DB1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Optimizado",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ejecuta sql": {
      "ai_tool": [
        [
          {
            "node": "DB",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        []
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Model Selector": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Optimizado",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "97ba4092-73a3-4d03-998c-e232d2042844",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07914adfbc2b375cb6bdc1f86a3091317a4e21a5a89b92fbf9c7ff5ef5e6e336"
  },
  "id": "IcJr601rG9wPvbny",
  "tags": []
}